@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(30, 30, 30, 0.1);
}

.card-img-top {
  padding: 4%;
  border-radius: 20px;
}

.card-title, .card-text {
    text-align: center;
}

.card-title {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.card-text {
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    padding: 6px 6px 18px 6px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
  }

@media (min-width: 375px) and (max-width: 700px) {
    .attribution {
        display: none;
    }
}

@media (min-width: 700px) and (max-width: 1440px),
(min-width: 1440px) {
    .attribution {
        position: absolute;
        bottom: 5%;
        font-size: 11px;
        text-align: center;
      }
}